/node_modules
/public/hot
/public/storage
/public/js/app.js
/public/css/app.css
/public/images/pub/*
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.vscode
/.idea
/resources/js/environment.js
credentials.json
/public/images/uploads

